* {
    margin: 0;
    padding: 0;
}

body, html{
    overflow-x: hidden;
}

body{
background: #121318;
}

.logo{
    position: absolute;
    left: 90px;
    top: 42px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 29px;
    
    color: #FFFFFF;
}


.top-menu{
    position: absolute;
    top: 50;
    left: 0;
    right: 80;
    bottom: 0;
    display: inline-block;
    text-align: right;
}


nav ul li {
    font-size: 20px;
    display: inline-block;
  }

nav ul li a    {
    color: #FFF;
    text-decoration: none;
    display: inline block;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.3s ease all;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }

  .rectangle{
    position: absolute;
    width: 166px;
    height: 44px;
    left: 1668px;
    top: 43px;

    background: #FF4E4E;
    border-radius: 20px;
  }

  .garis-kiri-atas{
    position: absolute;
    width: 5px;
    height: 327px;
    left: 67px;
    top: 287px;
    
    background: #FFFFFF;
  }

  .Pembuka{
    position: absolute;
    width: 470px;
    height: 103px;
    left: 120px;
    top: 297px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;

    color: #FFFFFF;
  }

  .des-pembuka{
    position: absolute;
    width: 736px;
    height: 107px;
    left: 120px;
    top: 387px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    
    color: #FFFFFF;
    

  }

  .box-putih{
    position: absolute;
    width: 526px;
    height: 691px;
    left: 1066px;
    top: 244px;
    
    background: #FFFFFF;
    box-shadow: 8px -7px 4px rgba(0, 0, 0, 0.25);
  }

  .box-merah{
    position: absolute;
    width: 526px;
    height: 691px;
    left: 1176px;
    top: 162px;
    
    background: #FF4E4E;
  }

  .learn-more{
    position: absolute;
    width: 275px;
    height: 58px;
    left: 120px;
    top: 508px;
    
    background: #FF4E4E;
    box-shadow: 3px 4px 2px rgba(255, 255, 255, 0.85);
  }
  .learn-more a{
    position: absolute;
    width: 128px;
    height: 27px;
    left: 75px;
    top: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;
    text-decoration: none;
  }

  .decor{
    position: absolute;
    width: 40px;
    height: 39px;
    left: 49px;
    top: 639px;
    border-radius: 50%;
    
    background: #FF4E4E;
  }
  .garis{
    position: absolute;
    width: 5px;
    height: 696px;
    left: 462px;
    top: 310px;
    
    background: #FFFFFF;
    transform: rotate(-90deg);
  }

  .decP{
    position: absolute;
    left: 94px;
    top: 676px;
    right: 0;
    bottom: 0;
    display: flex;
    
    color: #FFF;
  }
  .decP p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    
    padding: 10px 30px;
    border-radius: 5px;
    
  }

  .pesan{
    position: absolute;
    width: 275px;
    height: 76px;
    left: 120px;
    top: 763px;
    
    background: #FF4E4E;
    border-radius: 16px;
  }
  .pesan a{
    position: absolute;
    width: 166px;
    height: 24px;
    left: 54px;
    top: 25px;
    text-decoration: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

  }
  .cek-harga{
    position: absolute;
    width: 274px;
    height: 69px;
    left: 435px;
    top: 763px;
    border: 4px solid #FFFFFF;
    border-radius: 16px;
  }
  .cek-harga a{
    position: absolute;
    width: 108px;
    height: 24px;
    left: 85px;
    top: 20px;
    text-decoration: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
  }

  .rekomend{
    position: absolute;
    width: 542px;
    height: 57px;
    left: 156px;
    top: 1158px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFFFF;
  }
  .des-rekomend{
    position: absolute;
    width: 470px;
    height: 62px;
    left: 156px;
    top: 1215px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
  }
  .garis1{
    position: absolute;
    width: 5px;
    height: 148px;
    left: 124px;
    top: 1153px;
    
    background: #FFFFFF;
  }

  .DesignText{
    position: absolute;
    width: 288px;
    height: 57px;
    left: 310px;
    top: 1390px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    
    color: #DAB637;
  }
  .Design{
  position: absolute;
  width: 552px;
  height: 552px;
  left: 171px;
  top: 1468px;

  background: url(design-instagram_02.jpg);
  border-radius: 35px;
  }

  .rectangle1{
    position: absolute;
  width: 6px;
  height: 709px;
  left: 970px;
  top: 1380px;

  background: #FFFFFF;
  transform: rotate(180deg);
  }
  .elipse1{
    position: absolute;
  width: 38px;
  height: 43px;
  left: 954px;
  top: 1350px;
  border-radius: 50%;
  background: #FF4E4E;
  }
  .elipse2{
    position: absolute;
  width: 38px;
  height: 43px;
  left: 954px;
  top: 2056px;
 border-radius: 50%;
  background: #FF4E4E;
  }
  .Vector{
    position: absolute;
  width: 569px;
  height: 569px;
  left: 1195px;
  top: 1459px;

  background: url(WhatsApp_Image_2021-12-03.jpg);
  border-radius: 35px;
  }
  .VectorText{
  position: absolute;
  width: 279px;
  height: 57px;
  left: 1371px;
  top: 1390px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;

  color: #DAB637;
  }